.footer {
    border-top: 1px solid #322F2F;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
}

.rights {
    font-size: 12px;
    line-height: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.policy {
    text-decoration: underline;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 120%;
    cursor: pointer;
}
