.product__card {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 281px;
	border: 1px solid var(--color-black);
	border-radius: 20px;

	padding: 40px 24px 30px;
	gap: 20px;
}

.card__header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card__title {
	font-size: 20px;
	font-weight: 600;

	text-transform: uppercase;
}

.card__price {
	font-size: 20px;
	font-weight: 600;
	line-height: 24.38px;
}

.card__subtitle {
	width: 50%;

	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	text-align: left;
}

.card__footer {
	margin-top: auto;

	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.card__footer span {
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	text-align: left;
}

@media (width < 1024px) {
	.product__card {
		height: auto;
	}

	.card__subtitle {
		width: 100%;
	}
}

@media (width < 560px) {
	.card__price {
		width: 50%;
		text-align: right;
	}

	.card__title,
	.card__price {
		font-size: 18px;
	}

	.card__subtitle,
	.card__footer span {
		font-size: 14px;
	}
}

@media (width < 450px) {
	.card__header {
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
	}

	.card__price {
		text-align: left;
	}
}
