.page {
	width: 100dvw;
	height: 100dvh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

.page h1 {
	color: var(--color-primary);
	font-size: 160px;
}

.page p {
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
	font-size: 40px;
	text-transform: uppercase;
}

.page p a {
	text-decoration: underline;
}

@media (width < 1024px) {
	.page h1 {
		font-size: 130px;
	}
	.page p {
		font-size: 30px;
	}
}

@media (width < 550px) {
	.page h1 {
		font-size: 100px;
	}
	.page p {
		font-size: 20px;
	}
}
