body {
	margin: 0;
	background-color: var(--color-bg);
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
	box-sizing: border-box;
	outline: none;
	color: var(--color-black);
}

a {
	text-decoration: none;
}

p {
	margin: 0;
	padding: 0;
}

button {
	background: none;
	border: none;
	cursor: pointer;
}

a,
button,
input,
path,
svg {
	transition: 0.2s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

:root {
	--color-primary: #4ca64b;
	--color-bg: #f1efec;
	--color-black: #322f2f;
}

.container {
	display: flex;
	align-items: center;
	padding: 0px 195px;
}

.block__title {
	font-weight: 500;
	font-size: 40px;
	color: var(--color-black);

	text-transform: uppercase;
}

@media (width < 1350px) {
	.container {
		padding: 80px;
	}
}

@media (max-width: 768px) {
	.container {
		padding: 0px 25px;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.container {
		padding: 0px 72px;
	}
}

@media (width < 1024px) {
	.block__title {
		font-size: 32px;
	}
}

@media (width < 500px) {
	.block__title {
		font-size: 26px;
	}
}
