body {
	margin: 0;
	background-color: var(--color-bg);
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

* {
	box-sizing: border-box;
	outline: none;
}

a {
	text-decoration: none;
}

:root {
	--color-primary: #4ca64b;
	--color-bg: #f1efec;
	--color-black: #322f2f;
}

.container {
	padding: 0px 195px;
}

.block__title{
	font-weight: 500;
	font-size: 40px;
	color:var(--color-black);
}